<div class="cookie js-cookies">
    <button class="cookie__close js-cookies-close">
        <svg width="45" height="45" aria-hidden="true" class="icon-close">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="cookie__text">
        <p>
            С заботой о вас, мы используем cookie на своем сайте, чтобы интернет был чистым и прекрасным
        </p>
    </div>
    <button class="cookie__ok js-cookies-close">
        Хорошо
    </button>
</div>