<footer class="page-footer">
    <div class="page-footer__inner">


        <div class="container">
            <div class="page-footer__top-row">
                <a href="#" class="page-footer__logo">
                    <img src="img/logo.svg" alt="" class="page-footer__logo-image">
                </a>
                <nav class="page-footer__nav">
                    <ul>
                        <li>
                            <a href="#">
                                Продукция
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Дилер Pantum
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Направления
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Наши проекты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Сертификаты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-footer__contacts">
                    <ul class="page-footer__contacts-list">
                        <li class="page-footer__contacts-list-item">
                            <div class="page-footer__contacts-card">
                                <h3 class="page-footer__contacts-card-title">
                                    Почта
                                </h3>
                                <a href="mailto:quadro@quadro.tatar"
                                    class="page-footer__contacts-card-link">quadro@quadro.tatar</a>
                            </div>
                        </li>
                        <li class="page-footer__contacts-list-item">
                            <div class="page-footer__contacts-card">
                                <h3 class="page-footer__contacts-card-title">
                                    Телефон
                                </h3>
                                <a href="tel:+78432392695" class="page-footer__contacts-card-link">8 843 239 26 95</a>
                            </div>
                        </li>
                        <li class="page-footer__contacts-list-item">
                            <div class="page-footer__contacts-card">
                                <h3 class="page-footer__contacts-card-title">
                                    Адрес офиса
                                </h3>
                                <div class="page-footer__contacts-card-link">
                                    420129, Казань, ул.<br> С.Батыева, д.13, оф.1017
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__bottom-row">
                <div class="page-footer__copyright">
                    © «Quadro» 2022
                </div>
                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__made-by">
                    Создание сайта
                    <img src="img/aquila.svg" alt="" class="page-footer__made-by-image">
                </a>
            </div>
        </div>
    </div>
</footer>