<header class='page-header'>
    <div class='container'>
        <div class='page-header__row'>
            {{#unless noFooter}}
                <div class='page-header__menu'>
                    <div class='page-header__menu-inner'>
                        <nav class='page-header__menu-nav'>
                            <ul>
                                <li>
                                    <a href='#products'>
                                        Продукция
                                    </a>
                                </li>
                                <li>
                                    <a href='#dealer'>
                                        Дилер Pantum
                                    </a>
                                </li>
                                <li>
                                    <a href='#work-with'>
                                        Направления
                                    </a>
                                </li>
                                <li>
                                    <a href='#projects'>
                                        Наши проекты
                                    </a>
                                </li>
                                <li>
                                    <a href='#certificates'>
                                        Сертификаты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <a href='tel:8 843 239 26 95' class='page-header__menu-phone'>
                            8 843 239 26 95
                        </a>
                        <a href='#callback-modal' class='page-header__menu-callback-btn'>
                            <span class='page-header__menu-callback-btn-bg'>
                            </span>
                            Оставить заявку
                        </a>
                    </div>
                </div>
            {{/unless}}
            <a href='/' class='page-header__logo'>
                <img src='img/logo.svg' alt='' class='page-header__logo-image' />
            </a>
            {{#unless noFooter}}
                <nav class='page-header__nav'>
                    <ul>
                        <li>
                            <a href='#products'>
                                Продукция
                            </a>
                        </li>
                        <li>
                            <a href='#dealer'>
                                Дилер Pantum
                            </a>
                        </li>
                        <li>
                            <a href='#work-with'>
                                Направления
                            </a>
                        </li>
                        <li>
                            <a href='#projects'>
                                Наши проекты
                            </a>
                        </li>
                        <li>
                            <a href='#certificates'>
                                Сертификаты
                            </a>
                        </li>
                    </ul>
                </nav>
            {{/unless}}
            <div class='page-header__buttons'>
                <a href='tel:8 843 239 26 95' class='page-header__phone'>
                    <span class='page-header__phone-icon'>
                        <svg width='45' height='45' aria-hidden='true' class='icon-phone'>
                            <use xlink:href='#phone'></use>
                        </svg>
                    </span>
                    <span class='page-header__phone-text'>
                        8 843 239 26 95
                    </span>
                </a>
                <a href='mailto:quadro@quadro.tatar' class='page-header__email'>
                    <span class='page-header__email-icon'>
                        <svg width='45' height='45' aria-hidden='true' class='icon-phone'>
                            <use xlink:href='#phone'></use>
                        </svg>
                    </span>
                    <span class='page-header__email-text'>
                        quadro@quadro.tatar
                    </span>
                </a>
                <a href='#callback-modal' class='page-header__callback-link'>
                    <span class='page-header__callback-link-bg'></span>
                    <span class='page-header__callback-link-icon'>
                        <svg width='45' height='45' aria-hidden='true' class='icon-message'>
                            <use xlink:href='#message'></use>
                        </svg>
                    </span>

                    <span class='page-header__callback-link-text'>
                        Оставить заявку
                    </span>
                </a>
            </div>
            {{#unless noFooter}}
                <button class='page-header__burger'>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            {{/unless}}
        </div>
    </div>
</header>