{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">


        <video class="lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
            <source src="assets/video/video.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <h1 class="intro__main-heading">
                    Надежный<br> поставщик<br> IT-оборудования
                </h1>
                <div class="intro__text">
                    <p>
                        КВАДРО • ТЕХ – официальный дилер крупнейших IT-дистрибьюторов России. Всё предлагаемое
                        оборудование поставляется по официальным каналами обеспечивается гарантийными обязательствами
                    </p>
                </div>
            </div>
            <div class="intro__numbers">
                <ul class="intro__numbers-list">
                    <li class="intro__numbers-list-item">
                        <div class="intro__numbers-card">
                            <h3 class="intro__numbers-card-title">
                                173 тонны
                            </h3>
                            <div class="intro__numbers-card-text">
                                оборудования отгружено заказчикам за прошлый год
                            </div>
                        </div>
                    </li>
                    <li class="intro__numbers-list-item">
                        <div class="intro__numbers-card">
                            <h3 class="intro__numbers-card-title">
                                943 контракта
                            </h3>
                            <div class="intro__numbers-card-text">
                                исполнено без просрочек и штрафов
                            </div>
                        </div>
                    </li>
                    <li class="intro__numbers-list-item">
                        <div class="intro__numbers-card">
                            <h3 class="intro__numbers-card-title">
                                11 лет
                            </h3>
                            <div class="intro__numbers-card-text">
                                наша комнада на рынке информационных технологий
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="categories" id="products">
    <div class="container">
        <h2 class="categories__heading">
            Категории товаров
        </h2>
        <div class="categories__wrapper">
            <div class="categories__bg">
                <video class="lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
                    <source src="assets/video/video.mp4" type="video/mp4" />
                </video>
            </div>

            <ul class="categories__list">
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row">
                                <img src="img/categories/1.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Оргтехника и периферия
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row ">
                                <img src="img/categories/2.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Компьютеры, ноутбуки, планшеты
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">


                            <div class="categories__card-top-row">
                                <img src="img/categories/3.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Комплектующие для ПК
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row ">
                                <img src="img/categories/4.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Системы бесперебойного
                                        электропитания
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row">
                                <img src="img/categories/5.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Средства контроля
                                        и безопасности
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row ">
                                <img src="img/categories/6.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Сетевое
                                        оборудование
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">


                            <div class="categories__card-top-row ">
                                <img src="img/categories/7.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Серверное
                                        оборудование
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="categories__list-item">
                    <div class="categories__card js-accordion">
                        <div class="categories__card-btn-wrapper js-accordion-btn">
                            <div class="categories__card-top-row">
                                <img src="img/categories/8.svg" alt="" class="categories__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="categories__card-content ">
                                <div class="categories__card-content-inner">
                                    <h4 class="categories__card-title">
                                        Интерактивное
                                        оборудование
                                    </h4>
                                    <div class="categories__card-text js-accordion-content">
                                        <div class="categories__card-text-inner">
                                            <p>
                                                Имеем большой опыт в подборе качественных комплектующих для
                                                корпоративных и
                                                игровых
                                                компьютерных систем
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="categories__partners js-partners">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/1.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/2.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/3.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/4.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/5.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/6.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/7.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/8.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="categories__partners-card">
                            <img src="img/partners/9.png" alt="" class="categories__partners-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dealer dealer--dark" id="dealer">
    <div class="container">
        <h2 class="dealer__heading">
            Официальный дилер Pantum в России
        </h2>
        <div class="dealer__top-row">
            <div class="dealer__text">
                <p>
                    Являясь официальным дилером, мы имеем несколько сотен единиц техники на собственных складах, которые
                    регулярно пополняем. Под заказ доступен любой объем необходимого оборудования.
                </p>
            </div>
            <a href="#" class="dealer__btn">
                <span class="dealer__btn-bg"></span>
                Узнать о наличии
            </a>
        </div>
        <ul class="dealer__list">
            <li class="dealer__list-item">
                <div class="dealer__card">
                    <div class="dealer__card-bg">
                        <img src="img/dealer/1.jpg" alt="">

                    </div>
                    <div class="dealer__card-content">
                        <h3 class="dealer__card-title">
                            Линейка начального уровня для дома и малого бизнеса
                        </h3>
                    </div>
                    <div class="dealer__card-overlay">
                        <div class="dealer__card-category">
                            Принтеры и МФУ
                        </div>
                        <ul class="dealer__card-list">
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Скорость
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 22 стр/мин
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Надежность
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 20 000 страниц в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Возможности
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Самостоятельная перезаправка картриджей
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Работа
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Подключение по USB, Wi-Fi, работа в сети, мобильная печать
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="dealer__card-close">
                        <svg width="45" height="45" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="dealer__list-item">
                <div class="dealer__card">
                    <div class="dealer__card-bg">
                        <img src="img/dealer/2.jpg" alt="">

                    </div>
                    <div class="dealer__card-content">
                        <h3 class="dealer__card-title">
                            Бизнес серия, функциональность и экономичность
                        </h3>
                    </div>
                    <div class="dealer__card-overlay">
                        <div class="dealer__card-category">
                            Принтеры и МФУ
                        </div>
                        <ul class="dealer__card-list">
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Скорость
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 22 стр/мин
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Надежность
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 20 000 страниц в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Возможности
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Самостоятельная перезаправка картриджей
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Работа
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Подключение по USB, Wi-Fi, работа в сети, мобильная печать
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="dealer__card-close">
                        <svg width="45" height="45" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="dealer__list-item">
                <div class="dealer__card">
                    <div class="dealer__card-bg">
                        <img src="img/dealer/3.jpg" alt="">

                    </div>
                    <div class="dealer__card-content">
                        <h3 class="dealer__card-title">
                            Устройства корпоративного уровня максимальной производительности
                        </h3>
                    </div>
                    <div class="dealer__card-overlay">
                        <div class="dealer__card-category">
                            Принтеры и МФУ
                        </div>
                        <ul class="dealer__card-list">
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Скорость
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 22 стр/мин
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Надежность
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 20 000 страниц в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Возможности
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Самостоятельная перезаправка картриджей
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Работа
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Подключение по USB, Wi-Fi, работа в сети, мобильная печать
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="dealer__card-close">
                        <svg width="45" height="45" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="dealer__list-item">
                <div class="dealer__card">
                    <div class="dealer__card-bg">
                        <img src="img/dealer/4.jpg" alt="">

                    </div>
                    <div class="dealer__card-content">
                        <h3 class="dealer__card-title">
                            Решения для цветной печати дома и в офисе
                        </h3>
                    </div>
                    <div class="dealer__card-overlay">
                        <div class="dealer__card-category">
                            Принтеры и МФУ
                        </div>
                        <ul class="dealer__card-list">
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Скорость
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 22 стр/мин
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Надежность
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        до 20 000 страниц в месяц
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Возможности
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Самостоятельная перезаправка картриджей
                                    </div>
                                </div>
                            </li>
                            <li class="dealer__card-list-item">
                                <div class="dealer__card-param-card">
                                    <h4 class="dealer__card-param-card-title">
                                        Работа
                                    </h4>
                                    <div class="dealer__card-param-card-value">
                                        Подключение по USB, Wi-Fi, работа в сети, мобильная печать
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="dealer__card-close">
                        <svg width="45" height="45" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="about__work-with" id="work-with">
            <h2 class="about__work-with-heading">
                С кем мы работаем
            </h2>
            <ul class="about__work-with-list">
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/1.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Среди наших заказчиков есть крупные коммерческие структуры, средний бизнес и частные
                                    клиенты
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/2.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Работем с E-commerce
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/3.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Имеем опыт работы с гособорон заказамии нацпроектами
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/4.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Умеем работать и работаем с госзакупками по 44-ФЗи 223-ФЗ
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/5.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Имеем проверенные опытным путем каналы доставки товара по всей России
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__work-with-list-item">
                    <div class="about__work-with-card">
                        <div class="about__work-with-card-content">
                            <img src="img/work-with/6.svg" alt="" class="about__work-with-card-icon">
                            <div class="about__work-with-card-text">
                                <p>
                                    Есть реализованные проекты по оснащению техникой вводящихся в эксплуатацию новых
                                    социальных объектов
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="about__projects" id="projects">
            <h2 class="about__projects-heading">
                Наши проекты
            </h2>
            <div class="about__projects-slider js-projects-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__projects-slider-card">
                                <div class="about__projects-slider-card-bg">
                                    <img src="img/projects/1.jpg" alt="">
                                </div>
                                <div class="about__projects-slider-card-content">
                                    <div class="about__projects-slider-card-number">
                                        01
                                    </div>
                                    <h3 class="about__projects-slider-card-title">
                                        Министерство цифрового развития государственного управления, информационных
                                        технологий и связи РТ
                                    </h3>
                                    <div class="about__projects-slider-card-text">
                                        Поставка 800 планшетов Lenovo для соцработников республики
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__projects-slider-card">
                                <div class="about__projects-slider-card-bg">
                                    <img src="img/projects/2.jpg" alt="">
                                </div>
                                <div class="about__projects-slider-card-content">
                                    <div class="about__projects-slider-card-number">
                                        02
                                    </div>
                                    <h3 class="about__projects-slider-card-title">
                                        Центр по обеспечению деятельности Казначейства России
                                    </h3>
                                    <div class="about__projects-slider-card-text">
                                        Поставка оргтехники в Казань, Саратов, Самару, Киров, Саранск, Ульяновск,
                                        Йошкар-Олу
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__projects-slider-card">
                                <div class="about__projects-slider-card-bg">
                                    <img src="img/projects/3.jpg" alt="">
                                </div>
                                <div class="about__projects-slider-card-content">
                                    <div class="about__projects-slider-card-number">
                                        03
                                    </div>
                                    <h3 class="about__projects-slider-card-title">
                                        Инвестиционно-венчурный фонд Республики Татарстан
                                    </h3>
                                    <div class="about__projects-slider-card-text">
                                        Модернизация техники, оснащение моноблоками корпоративного класса
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__projects-slider-card">
                                <div class="about__projects-slider-card-bg">
                                    <img src="img/projects/4.jpg" alt="">
                                </div>
                                <div class="about__projects-slider-card-content">
                                    <div class="about__projects-slider-card-number">
                                        04
                                    </div>
                                    <h3 class="about__projects-slider-card-title">
                                        Министерство цифрового развития государственного управления, информационных
                                        технологий и связи РТ
                                    </h3>
                                    <div class="about__projects-slider-card-text">
                                        Поставка 800 планшетов Lenovo для соцработников республики
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="about__projects-slider-arrow about__projects-slider-arrow--prev">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="about__projects-slider-arrow about__projects-slider-arrow--next">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about__certificates" id="certificates">
            <h2 class="about__certificates-heading">
                Сертификаты
            </h2>
            <div class="about__certificates-slider js-certificates-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/certificates/1.jpg" class="about__certificates-slider-card"
                                data-fancybox="certificates">
                                <img src="img/certificates/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificates/2.jpg" class="about__certificates-slider-card"
                                data-fancybox="certificates">
                                <img src="img/certificates/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificates/3.jpg" class="about__certificates-slider-card"
                                data-fancybox="certificates">
                                <img src="img/certificates/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificates/4.jpg" class="about__certificates-slider-card"
                                data-fancybox="certificates">
                                <img src="img/certificates/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificates/5.jpg" class="about__certificates-slider-card"
                                data-fancybox="certificates">
                                <img src="img/certificates/5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <button class="about__certificates-slider-arrow about__certificates-slider-arrow--prev">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="about__certificates-slider-arrow about__certificates-slider-arrow--next">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="contact-us__bg">
        <video class="lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
            <source src="assets/video/video.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container">
        <h2 class="contact-us__heading">
            Готовы работать вместе
        </h2>
        <div class="contact-us__row">
            <div class="contact-us__text">
                <p>
                    Мы готовы участвоватьв тендерах от вашей компании, и вместе разработаем все необходимые документы
                </p>
            </div>
            <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                <div class="contact-us__form-fields">
                    <div class="contact-us__form-field" id="your-name">
                        <label class="contact-us__form-label">
                            <input type="text" class="contact-us__form-input" name="your-name" placeholder="Имя"
                                required="" data-parsley-errors-container="#your-name"
                                data-parsley-class-handler="#your-name">
                        </label>
                    </div>
                    <div class="contact-us__form-field" id="your-email">
                        <label class="contact-us__form-label">
                            <input type="email" class="contact-us__form-input" name="your-email" placeholder="Почта"
                                required="" data-parsley-errors-container="#your-email"
                                data-parsley-class-handler="#your-email">
                        </label>
                    </div>
                    <div class="contact-us__form-field" id="your-phone">
                        <label class="contact-us__form-label">
                            <input type="tel" class="contact-us__form-input js-phone-input" name="your-phone"
                                placeholder="Телефон" data-parsley-errors-container="#your-phone"
                                data-parsley-class-handler="#your-phone" required="" data-parsley-phone="">
                        </label>
                    </div>
                    <div class="contact-us__form-field contact-us__form-field--file contact-us__form-field--high">
                        <div class="contact-us__form-file" id="your-file">
                            <div class="contact-us__form-file-text">
                                <p>
                                    Вы можете прикрепить лист закупки или прочий документ, и мы сможем расчитать
                                    предварительную стоимость
                                </p>
                            </div>
                            <div class="contact-us__form-file-wrapper">


                                <label class="contact-us__form-file-upload js-file-upload">

                                    <input type="file" class="contact-us__form-file-upload-input"
                                        data-parsley-max-file-size="5000" data-parsley-errors-container="#your-file"
                                        data-parsley-class-handler="#your-file" name="your-file">

                                    <svg width="45" height="45" aria-hidden="true" class="icon-pin">
                                        <use xlink:href="#pin"></use>
                                    </svg>
                                    <svg width="45" height="45" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <span class="contact-us__form-file-upload-content">
                                        <span class="contact-us__form-file-upload-text js-file-upload-text">
                                            Прикрепить документ
                                        </span>
                                        <span class="contact-us__form-file-upload-size js-file-upload-size">
                                            Не более 5 Мб
                                        </span>
                                    </span>

                                </label>
                                <span class="contact-us__form-file-upload-clear js-file-upload-clear">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-trash">
                                        <use xlink:href="#trash"></use>
                                    </svg>
                                    Удалить
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="contact-us__form-field" id="your-comment">
                        <label class="contact-us__form-label">
                            <textarea name="your-comment" class="contact-us__form-input" placeholder="Комментарии"
                                required="" data-parsley-errors-container="#your-comment"
                                data-parsley-class-handler="#your-comment"></textarea>
                        </label>
                    </div>
                    <div class="contact-us__form-field contact-us__form-field--centered">
                        <label class="contact-us__form-checkbox">
                            <input type="checkbox" class="contact-us__form-checkbox-input" name="policy" required=""
                                checked="">
                            <span class="contact-us__form-checkbox-mark">
                                <svg width="45" height="45" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </span>
                            <span class="contact-us__form-checkbox-text">
                                Я согласен на обработку <a href="#">персональных данных</a>
                            </span>
                        </label>
                    </div>
                    <div class="contact-us__form-field contact-us__form-field--centered">
                        <button class="contact-us__form-field-submit" type="submit">
                            <span class="contact-us__form-field-submit-bg"></span>
                            Отправить
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}