{{#extend "layout"}}
    {{#content "main"}}
        <section class="product">
            <div class="container">
                <a href="#" class="product__back-link">
                    <svg width="45" height="45" aria-hidden="true" class="icon-back-arrow">
                        <use xlink:href="#back-arrow"></use>
                    </svg>
                    Вернуться к каталогу
                </a>
                <div class="product__row">
                    <div class="product__slider js-product-slider">
                        <div class="product__slider-thumbs">
                            <div class="product__slider-thumbs-inner">


                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/1.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/2.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/3.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/4.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/5.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/6.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/7.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/1.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__slider-thumbs-card">
                                                <img src="img/product/2.webp" alt=""
                                                    class="product__slider-thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__slider-main">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/1.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/2.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/3.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/4.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/5.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/6.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/7.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/1.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <img src="img/product/2.webp" alt="" class="product__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__slider-arrows">
                                <button class="product__slider-arrow product__slider-arrow--prev">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="product__slider-arrow product__slider-arrow--next">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product__info">
                        <h1 class="product__name">
                            МФУ Лазерное Pantum BM5100ADW
                        </h1>
                        <div class="product__specs">
                            <h2 class="product__specs-heading">
                                Характеристики
                            </h2>
                            <div class="product__specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Тип
                                            </th>
                                            <td>
                                                МФУ
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Цветность печати
                                            </th>
                                            <td>
                                                Монохромный
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Функции МФУ
                                            </th>
                                            <td>
                                                Принтер, копир, сканер
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Максимальный формат печати
                                            </th>
                                            <td>
                                                А4
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Макс. скорость печати (ч/б), стр/мин
                                            </th>
                                            <td>
                                                40
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Сетевые интерфейсы
                                            </th>
                                            <td>
                                                WI-FI
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Макс. разрешение сканирования
                                            </th>
                                            <td>
                                                1200х1200 dpi
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Автоматическая двухсторонняя печать
                                            </th>
                                            <td>
                                                Да
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Нагрузка в месяц, стр
                                            </th>
                                            <td>
                                                80 000
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Интерфейсы
                                            </th>
                                            <td>
                                                RJ-45 Ethernet, USB 2.0
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="product__btns">
                            <a href="#" class="product__ozon-btn">
                                <span class="product__ozon-btn-bg"></span>
                                Купить на OZON
                            </a>
                            <a href="#callback-modal" class="product__order-btn">
                                <span class="product__order-btn-bg"></span>
                                Заказать на сайте
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-us">
            <div class="contact-us__bg">
                <video class="lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
                    <source src="assets/video/video.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="container">
                <h2 class="contact-us__heading">
                    Готовы работать вместе
                </h2>
                <div class="contact-us__row">
                    <div class="contact-us__text">
                        <p>
                            Мы готовы участвоватьв тендерах от вашей компании, и вместе разработаем все необходимые
                            документы
                        </p>
                    </div>
                    <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                        <div class="contact-us__form-fields">
                            <div class="contact-us__form-field" id="your-name">
                                <label class="contact-us__form-label">
                                    <input type="text" class="contact-us__form-input" name="your-name" placeholder="Имя"
                                        required="" data-parsley-errors-container="#your-name"
                                        data-parsley-class-handler="#your-name">
                                </label>
                            </div>
                            <div class="contact-us__form-field" id="your-email">
                                <label class="contact-us__form-label">
                                    <input type="email" class="contact-us__form-input" name="your-email"
                                        placeholder="Почта" required="" data-parsley-errors-container="#your-email"
                                        data-parsley-class-handler="#your-email">
                                </label>
                            </div>
                            <div class="contact-us__form-field" id="your-phone">
                                <label class="contact-us__form-label">
                                    <input type="tel" class="contact-us__form-input js-phone-input" name="your-phone"
                                        placeholder="Телефон" data-parsley-errors-container="#your-phone"
                                        data-parsley-class-handler="#your-phone" required="" data-parsley-phone="">
                                </label>
                            </div>
                            <div
                                class="contact-us__form-field contact-us__form-field--file contact-us__form-field--high">
                                <div class="contact-us__form-file" id="your-file">
                                    <div class="contact-us__form-file-text">
                                        <p>
                                            Вы можете прикрепить лист закупки или прочий документ, и мы сможем расчитать
                                            предварительную стоимость
                                        </p>
                                    </div>
                                    <div class="contact-us__form-file-wrapper">


                                        <label class="contact-us__form-file-upload js-file-upload">

                                            <input type="file" class="contact-us__form-file-upload-input"
                                                data-parsley-max-file-size="5000"
                                                data-parsley-errors-container="#your-file"
                                                data-parsley-class-handler="#your-file" name="your-file">

                                            <svg width="45" height="45" aria-hidden="true" class="icon-pin">
                                                <use xlink:href="#pin"></use>
                                            </svg>
                                            <svg width="45" height="45" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc"></use>
                                            </svg>
                                            <span class="contact-us__form-file-upload-content">
                                                <span class="contact-us__form-file-upload-text js-file-upload-text">
                                                    Прикрепить документ
                                                </span>
                                                <span class="contact-us__form-file-upload-size js-file-upload-size">
                                                    Не более 5 Мб
                                                </span>
                                            </span>

                                        </label>
                                        <span class="contact-us__form-file-upload-clear js-file-upload-clear">
                                            <svg width="45" height="45" aria-hidden="true" class="icon-trash">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                            Удалить
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-us__form-field" id="your-comment">
                                <label class="contact-us__form-label">
                                    <textarea name="your-comment" class="contact-us__form-input"
                                        placeholder="Комментарии" required=""
                                        data-parsley-errors-container="#your-comment"
                                        data-parsley-class-handler="#your-comment"></textarea>
                                </label>
                            </div>
                            <div class="contact-us__form-field contact-us__form-field--centered">
                                <label class="contact-us__form-checkbox">
                                    <input type="checkbox" class="contact-us__form-checkbox-input" name="policy"
                                        required="" checked="">
                                    <span class="contact-us__form-checkbox-mark">
                                        <svg width="45" height="45" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="contact-us__form-checkbox-text">
                                        Я согласен на обработку <a href="#">персональных данных</a>
                                    </span>
                                </label>
                            </div>
                            <div class="contact-us__form-field contact-us__form-field--centered">
                                <button class="contact-us__form-field-submit" type="submit">
                                    <span class="contact-us__form-field-submit-bg"></span>
                                    Отправить
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}