@font-face {
    font-family: 'Loew Next';
    src: url('../assets/fonts/LoewNext-Bold.woff2') format('woff2'), url('../assets/fonts/LoewNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loew Next';
    src: url('../assets/fonts/LoewNext-Medium.woff2') format('woff2'), url('../assets/fonts/LoewNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loew Next';
    src: url('../assets/fonts/LoewNext-Regular.woff2') format('woff2'), url('../assets/fonts/LoewNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
