*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 152rem;
    --content-padding: 6rem;
    --header-height: 10rem;
    --primary-color: #0000FF;
    --text-color: #0C131A;
    --loew: 'Loew Next', sans-serif;

    @include breakpoint(mobile) {
        --content-padding: 2rem;
        --header-height: 7.2rem;
    }
}

html {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;

  
   
    @include noHighlight();


    @media screen and (max-width: 1679px) {
        font-size: clamp(4.2px, 0.6vw, 25px);
    }
    @include breakpoint(mobile) {
        font-size: 10px;
    }
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--loew);
    color: var(--text-color);
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    & > li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list, decimal-leading-zero) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-flex;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: inherit;
    }
}

a:where(:not[class]) {
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

svg {
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}



::selection {
    color: white;
    background-color: var(--primary-color);
    -webkit-text-fill-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
