.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 130;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    background: rgba(#000000, 0.45);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .no-touch & {
        @include customScrollbar();
        overflow-y: scroll;
    }

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.modal__inner {
    width: 100%;
    margin: auto;
    max-width: 58rem;
    background: #ffffff;
    padding: 6rem;
    padding-top: 3rem;
    color: #0c131a;
    position: relative;

    @include breakpoint(mobile) {
        padding: 2.4rem;
    }
}

.modal__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.9rem;
    letter-spacing: -0.02em;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }
}

.modal__heading-icon {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    flex-shrink: 0;
    margin-top: 0.6rem;

    @include breakpoint(mobile) {
        order: -1;
        width: 2.7rem;
        height: 2.7rem;
    }
}
.modal__close {
    position: absolute;
    right: 2.2rem;
    top: 2.2rem;
    width: 3.2rem;
    height: 3.2rem;

    @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
        right: 1rem;
        top: 1rem;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #706f6f;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: #0c131a;
        }
    }
}

.modal__form-fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.5rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
    }
}

.modal__form-field {
    position: relative;

    .parsley-errors-list.filled {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 0.5rem;
        color: rgb(243, 45, 38);
    }
}

.modal__form-label {
    display: block;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 1px;
        background-color: #cfd0e1;
        transition: background-color 0.2s;
    }

    .parsley-error & {
        &::before {
            background-color: rgb(243, 45, 38);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 1px;
        background-color: var(--text-color);
        transition: transform 0.4s;
        transform-origin: left center;
        transform: scaleX(0);
    }

    &:focus-within,
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

.modal__form-input {
    display: block;
    height: 3.6rem;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #0c131a;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    @include placeholder {
        color: #0c131a;
    }
}

textarea.modal__form-input {
    resize: none;
    height: 8.2rem;

    @include breakpoint(mobile) {
        height: 5rem;
    }
}

.modal__form-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 2rem 0;
    @include breakpoint(mobile) {
        margin: 1rem 0;
    }
}

.modal__form-checkbox-input {
    display: none;
}

.modal__form-checkbox-mark {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    flex-shrink: 0;
    margin-right: 1rem;
    background-color: var(--primary-color);

    svg {
        width: 1.6rem;
        height: 1.2rem;
        fill: white;
        transition: opacity 0.2s;
        opacity: 0;
    }
}

.modal__form-checkbox-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #9f9f9f;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    a {
        color: var(--text-color);

        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.2s;

        &:link,
        &:visited {
            color: var(--text-color);
        }
        &:hover {
            text-decoration-color: var(--text-color);
        }
    }
}

.modal__form-checkbox-input:checked ~ .modal__form-checkbox-mark {
    svg {
        opacity: 1;
    }
}

.contact-us__form-field-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 2.2rem 2.4rem;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.1rem;
        padding: 1.6rem 3.2rem;
    }

    .no-touch &:hover {
        color: var(--primary-color);

        .contact-us__form-field-submit-bg {
            transform: translateX(-50%) scaleX(1) skew(-25deg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        z-index: -1;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) calc(100% + 2px), 0 calc(100% + 2px));
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 1rem 1rem;
        border-color: transparent transparent white transparent;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.modal__form-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 2.2rem 2.4rem;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #0c131a;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.1rem;
        padding: 1.6rem 3.2rem;
    }

    .no-touch &:hover {
        color: white;

        .modal__form-submit-bg {
            transform: translateX(-50%) scaleX(1) skew(-25deg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #0c131a;
        z-index: -1;

        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 2rem),
            calc(100% - 2rem) calc(100% - 2rem),
            calc(100% - 2rem) calc(100% + 2px),
            0 calc(100% + 2px)
        );
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 1rem 1rem;
        border-color: transparent transparent #0c131a transparent;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.modal__form-submit-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 120%;
    height: 100%;
    z-index: -1;
    background-color: #0c131a;
    transform: translateX(-50%) scaleX(0) skew(-25deg);
    transition: transform 0.2s;
    transform-origin: right center;
}

.modal__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin-bottom: 3rem;
    }
}
